body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
}


form{
    vertical-align: middle
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

button{
    position: relative;
    left: 45%;
}

div.containers{
    display: flex;
    flex-flow: row wrap;
}
textarea {
	resize: none;
	width: 400px;
	height: 250px;
}
