{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python executor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'executor/styles.css' %}">
</head>
<body style="background-image: url('{% static "executor/background.jpg" %}'); background-size:100%;">
    <h1>Executor for python code</h1>

    <main>
        <div class="button_panel">
            <pre lang=”python”>
            <form method="post">
                {% csrf_token %}
                {{ form.code }}
                {{ form.input }}
                <br>
                <button type="submit" class="btn btn-dark">Launch</button>
            </form>
            </pre>
        </div>
        <div class="containers">
            <textarea name="output" placeholder="There will be output">{% for line in output %}{{ line }}{% endfor %}</textarea>
            <textarea name="err" placeholder="There will be errors">{{error}}</textarea>
        </div>
    </main>
</body>
</html>